USE [master]
GO
/****** Object:  Database [NntStudent_2410900075_Db]    Script Date: 9/26/2026 9:15:59 AM ******/
CREATE DATABASE [NntStudent_2410900075_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NNTStudent_2410900075_Db', FILENAME = N'C:\Users\ADMIN\NNTStudent_2410900075_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NNTStudent_2410900075_Db_log', FILENAME = N'C:\Users\ADMIN\NNTStudent_2410900075_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NntStudent_2410900075_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NntStudent_2410900075_Db]
GO
/****** Object:  Table [dbo].[NntMember]    Script Date: 9/26/2026 9:15:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NntMember](
	[Id] [bigint] NOT NULL,
	[NntName] [nvarchar](50) NULL,
	[NntGender] [nvarchar](10) NULL,
	[NntBirthDay] [date] NULL,
	[NntEmail] [varchar](50) NULL,
	[NntPhone] [char](12) NULL,
	[NntActive] [bit] NULL,
 CONSTRAINT [PK_NntMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
